version: '3.8'

services:
  nginx:
    image: nginx:alpine
    container_name: ddnet-nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - assets:/usr/share/nginx/html:ro
    depends_on:
      - app
    restart: always

  app:
    build: .
    container_name: ddnet-app
    ports:
      - "8080"
    env_file:
      - ./.env
    volumes:
      - ./.env:/app/.env
      - assets:/app/dist
    environment:
      GIN_MODE: release
      DB_HOST: db

      DB_PORT: 5432
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15-alpine
    container_name: ddnet-db
    restart: always
    ports:
      - "5434:5432"
    env_file:
      - ./.env
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./ddnetone.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      # Ensure there is exactly one space after the colon
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}


volumes:
  db_data:
  assets:
